/* 

-- 02 COLORS

BLACK
#000
#1a1a1a

GRAY 0
#f8f9fa
#495057
#bcbcbc
#898989
#C1C1C1
#909090

GREEN
#98e37e

RED
#F02424
#F93B1D

BLUE
#0E80BF
#6B40E3

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  /* height: 100vh; */
  max-width: 100%;
}

/* *********************** */
/* starter-container */
/* *********************** */
.starter-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: flex-start;
  /* justify-content: center; */
  grid-column: 1/-1;
  background-image: url(../images/background.webp);
  position: relative;
}

.logo-redbery-container {
  display: flex;
  width: 100%;
  height: 8.9rem;
  align-items: flex-start;
  padding: 1.64% 4.5% 0 4.5%;
  grid-column: 1/-1;
}

.border-bottom--26 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4.5%;
  grid-column: 1/-1;
  width: 91%;
  border-bottom: 1px solid #1a1a1a;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 18%;
  z-index: 999;
}

.starter-btn,
.starter-btn:link,
.starter-btn:visited {
  background-color: #1a1a1a;
  padding: 1.8rem 12.6rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #fff;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 400;
}

.starter-btn:active {
  transform: scale(0.99);
}

.logo-redbery {
  width: 23.6rem;
  height: 3.8rem;
}

.doc-redberry {
  position: absolute;
  right: 39rem;
  bottom: 13rem;
}
/* *********************** */
/* GENERAL REUSABLE COMPONENTS */
/* *********************** */

.hidden {
  display: none;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 58fr 42fr;
}

.container-edit {
  background-color: #f8f9fa;
  max-width: 100%;
  padding: 4.7rem 15rem 6.5rem 15rem;

  position: relative;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 1.2rem;

  border-bottom: 0.1rem solid #1a1a1a;
}

.slide--headline {
  font-size: 2.4rem;
  color: #1a1a1a;
  font-weight: 700;
}

.slide--number {
  color: #1a1a1a;
  font-size: 2rem;
  font-weight: 400;
}

.names--form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5.6rem;

  margin-top: 7.7rem;
}

.names--form label {
  font-size: 1.6rem;
  color: #000;
  font-weight: 500;
}

.names--form p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #495057;
}

.names--form input,
.names--form select {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.4rem;
  padding: 1.3rem 3.4rem 1.3rem 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  margin: 0.8rem 0;
  border: none;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}

.names--form *:focus {
  outline: 0.2rem solid #bcbcbc;
}

.name {
  position: relative;
}

.valid--input input,
.valid--input select,
.valid--input select:focus,
.valid--input input:focus {
  outline: 0.1rem solid #98e37e;
}

.valid--input .checkmark-icon {
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #98e37e;
  border-radius: 50%;
  color: #fff;
  top: 4.5rem;
  right: 1.6rem;

  display: inline-block;
}

.alert--input .alert-icon {
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #f02424;
  border-radius: 50%;
  color: #fff;
  top: 4.5rem;
  right: 1.5rem;

  display: inline-block;
}

.alert--input input,
.alert--input select,
.alert--input select:focus,
.alert--input input:focus {
  outline: 0.1rem solid #f02424;
}

/* *********************** */
/* IMAGE UPLOADER BTN */
/* *********************** */

.image--upload {
  margin-top: 5.4rem;
  display: flex;
  align-items: center;
}

.image--upload h2 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #1a1a1a;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn,
.btn:link,
.btn:visited {
  border: none;
  cursor: pointer;
  font-family: inherit;

  color: #fff;
  background-color: #0e80bf;
  padding: 5px 19px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 4rem;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 10rem;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* *********************** */
/* ABOUT ME */
/* *********************** */
.about--me {
  margin-top: 4.9rem;
  display: flex;
  flex-direction: column;

  position: relative;
}

.about--me label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  margin-bottom: 0.8rem;
}

.about--me textarea {
  height: 10.3rem;
  resize: none;
  font-size: 1.6rem;
  padding: 1.3rem 1.6rem;
  font-weight: 400;
  border: none;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
  border-radius: 0.4rem;
}

.about--me textarea:focus {
  outline: 0.2rem solid #bcbcbc;
}

/* *********************** */
/* CONTACTS */
/* *********************** */

.contact--form {
  margin-top: 3.3rem;
}

.mail-container,
.phone-container {
  display: flex;
  flex-direction: column;

  position: relative;
}

.phone-container {
  margin-top: 2.9rem;
}

.contact--form label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.contact--form p {
  margin-top: 0.8rem;
  color: #495057;
  font-size: 1.4rem;
  font-weight: 300;
}

.contact--form input,
.contact--form select {
  width: 100%;
  height: 4.8rem;
  border-radius: 0.4rem;
  padding: 1.3rem 3.4rem 1.3rem 1.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  border: none;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}

.phone-container input,
.phone-container select {
  font-size: 1.8rem;
}

.contact--form *:focus {
  outline: 0.2rem solid #bcbcbc;
}

/* *********************** */
/* NEXT PAGE BUTTON */
/* *********************** */

.next--page--container {
  display: flex;
  justify-content: end;
  margin-top: 16rem;
}

.next--page--container button {
  margin: 0;
}

.next--page--btn,
.next--page--btn:link,
.next--page--btn:visited {
  display: inline-block;

  padding: 1.3rem 3.5rem;
  text-decoration: none;
  background-color: #6b40e3;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

/* *********************** */
/* ARROW  BACK  */
/* *********************** */

.arrow-back--container button,
.arrow-back--container button:link,
.arrow-back--container button:visited {
  position: absolute;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  left: 4.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  cursor: pointer;
}

.arrow-back--container button:active {
  transform: scale(1.02);
}

.arrow-back--container:hover .arrow-back {
  color: #6b40e3;
}

.arrow-back {
  font-size: 2rem;
}

/* ///////////////////// */

/* *********************** */
/* SECOND SLIDE EDIT */
/* *********************** */
.margin-top--31 {
  margin-top: 3.1rem;
}

.margin-top--77 {
  margin-top: 7.7rem;
}

.job-description {
  margin-top: 3.3rem;
}

.job-description textarea {
  height: 12.3rem;
}

.border-bottom {
  border-bottom: 1px solid #c1c1c1;
}

.margin-top--58 {
  margin-top: 5.8rem;
}

.margin-top--37 {
  margin-top: 3.7rem;
}

.valid--input textarea,
.valid--input textarea:focus {
  outline: 0.1rem solid #98e37e;
}

.valid--input .checkmark-icon {
  position: absolute;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #98e37e;
  border-radius: 50%;
  color: #fff;
  top: 4.5rem;
  right: 1.6rem;

  display: inline-block;
}

.alert--input .alert-icon {
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #f02424;
  border-radius: 50%;
  color: #fff;
  top: 4.5rem;
  right: 1.4rem;

  display: inline-block;
}

.alert--input textarea,
.alert--input textarea:focus {
  outline: 0.1rem solid #f02424;
}

.btn--add-experience {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 14px 21px;
  background-color: #62a1eb;
  margin: 4.5rem 0 0 0;
}

.btn--add-experience:active {
  transform: scale(0.99);
}

.prev-next--page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev--btn,
.next--page {
  background-color: #6b40e3;
  padding: 1.4rem 3.5rem;
  margin: 11.4rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.08rem;
}

.prev--btn:active,
.next--page:active {
  transform: scale(0.99);
}

/* ///////////////////// */
/* ///////////////////// */
/* ///////////////////// */

/* *********************** */
/* CONTAINER VIEW  */
/* *********************** */

.container-view {
  background-color: #fff;
  max-width: 100%;

  /* padding: 4.8rem 8rem 0 7.5rem; */
  padding: 4.8rem 5rem 0 4.5rem;

  position: relative;
}

.container--contact {
  margin-top: 1.7rem;
}

.info--container {
  margin-top: 2rem;
  /* max-width: 42rem; */
}

.info--container h1 {
  font-size: 3.4rem;
  color: #f93b1d;
  font-weight: 700;
  max-width: 29.7rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.phone-email-container {
  display: flex;
  align-items: center;
}

.phone-email--icons {
  font-size: 1.6rem;
  color: #898989;
  padding-right: 1.1rem;
}

.phone-email-container a {
  display: flex;
  align-items: center;
}

.phone-email-container a:link {
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s;
  color: #1a1a1a;
}

.phone-email-container p {
  font-size: 1.8rem;
  color: #1a1a1a;
}

.call {
  margin-top: 1rem;
}

.about--me-view {
  margin-top: 3.4rem;
}

.about--me-view h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #f93b1d;
}

.about--me-view p {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  max-width: 29.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.author-img {
  width: 24.6rem;
  height: 24.6rem;
  border-radius: 50%;
}

.margin-top--19 {
  margin-top: 1.9rem;
}

/* experience */

.experience-section {
  margin-top: 2.4rem;
}

.experience-section h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #f93b1d;
}

.experience-section h4 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1a1a1a;
}

.experience-section h5 {
  margin-top: 0.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #909090;
  font-style: italic;
}

.experience-section h6 {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}

.logo-12-1--container img {
  margin-top: 21.9rem;
}

.footer-background {
  background-color: #f8f9fa;
  margin-top: 4.4rem;
  /* height: 100%; */
  width: auto;
}

/* *********************** */
/* FINISH EDITING  */
/* *********************** */

.finished-editing {
  max-width: 82.2rem;
  display: grid;
  /* align-self: center; */
  grid-column: 1/-1;
  justify-self: center;

  border: 2px solid #898989;
  margin: 5.4rem 0 12.9rem 0;
}

.finished-editing .last-arrow-btn,
.last-arrow-btn button,
.last-arrow-btn button:link,
.last-arrow-btn button:visited {
  display: block;
  background-color: #f8f9fa;
  position: absolute;
  top: -1%;
  left: -36%;
}

.finished-editing .btn-close {
  position: absolute;
  width: 30%;
  height: 15rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px 2px rgb(0, 0, 0, 0.1);
  right: -35%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn-close p {
  font-size: 1.8rem;
  padding: 0 6px 0 2rem;
  margin-top: 4.5rem;
  /* margin-left: 1rem; */
}

.btn-close button {
  padding: 1rem 1rem 0 0;
  font-family: inherit;
  color: #000;
  position: absolute;
  font-size: 2.2rem;
  cursor: pointer;
  border: none;
  background: #fff;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
